<!DOCTYPE html>
<html lang="ko">
<head>
  <meta name="description" content="Try This" />
  <meta name="keywords" content="Try This" />
  <meta name="author" content="Airvengers" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
  <nav class="teal darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Try This</a>

      <ul class="right hide-on-med-and-down">
          <li><a href="api/logout">Logout</a></li>
          <li><a href="javascript:anotherID()">anotherID</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="api/logout">Logout</a></li>
          <li><a href="javascript:anotherID()">anotherID</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right">
          <li>
              <a id="custom-login-btn" href="javascript:loginWithKakao()">Login</a>
                  <script type='text/javascript'>
                    //<![CDATA[
                      // 사용할 앱의 JavaScript 키를 설정해 주세요.
                      Kakao.init('fa22fa5c04bcde6b834f4f49503c1a95');
                      function loginWithKakao() {
                        // 로그인 창을 띄웁니다.
                        Kakao.Auth.login({
                          success: function(authObj) {
                            var token = authObj.access_token
                            console.log(token);                             
                            Kakao.Auth.setAccessToken(token, false);
                            //Kakao.Auth.logout();
                            var token2 = Kakao.Auth.getAccessToken();
                            console.log(token2);
                            Kakao.API.request({
                              url: '/v2/user/me',
                              success: function(res) {
                                var id = res.id
                                console.log(id)
                              },
                              fail: function(error) {
                                console.log(JSON.stringify(error));
                              }
                            });
                        
                            Kakao.API.request({
                              url: '/v2/user/me',
                              success: function(res) {
                                var id = res.id
                                var name = res.properties.nickname
                                var email = res.kakao_account.email
                                post_to_url('/api/login',{'id':id, 'name':name, 'email':email});
                                //alert(JSON.stringify(res));
                              },
                              fail: function(error) {
                                alert(JSON.stringify(error));
                              }
                            });
                          },
                          fail: function(err) {
                            alert(JSON.stringify(err));
                          }
                        });
                      }
                      
                      function post_to_url(path, params, method) {
                          method = method || "post"; // 전송 방식 기본값을 POST로  
                          var form = document.createElement("form");
                          form.setAttribute("method", method);
                          form.setAttribute("action", path);
                  
                          //히든으로 값을 주입시킨다.
                          for(var key in params) {
                              var hiddenField = document.createElement("input");
                              hiddenField.setAttribute("type", "hidden");
                              hiddenField.setAttribute("name", key);
                              hiddenField.setAttribute("value", params[key]);
                  
                          
                              form.appendChild(hiddenField);
                          }
                  
                          document.body.appendChild(form);
                          form.submit();
                      }

                      function anotherID() {
                        // 로그인 창을 띄웁니다.
                        Kakao.Auth.loginForm({
                          success: function(authObj) {
                            var token = authObj.access_token
                            console.log(token);                             
                            Kakao.Auth.setAccessToken(token, false);
                            //Kakao.Auth.logout();
                            var token2 = Kakao.Auth.getAccessToken();
                            console.log(token2);
                            Kakao.API.request({
                              url: '/v2/user/me',
                              success: function(res) {
                                var id = res.id
                                console.log(id)
                              },
                              fail: function(error) {
                                console.log(JSON.stringify(error));
                              }
                            });
                        
                            Kakao.API.request({
                              url: '/v2/user/me',
                              success: function(res) {
                                var id = res.id
                                var name = res.properties.nickname
                                var email = res.kakao_account.email
                                post_to_url('/api/login',{'id':id, 'name':name, 'email':email});
                                //alert(JSON.stringify(res));
                              },
                              fail: function(error) {
                                alert(JSON.stringify(error));
                              }
                            });
                          },
                          fail: function(err) {
                            alert(JSON.stringify(err));
                          }
                        });
                      }

                      function logoutFromKakao() {
                        var isInit = Kakao.isInitialized();
                        console.log(isInit);
                        Kakao.Auth.getStatusInfo({
                          callback: function(statusObj){
                            console.log(JSON.stringify(statusObj));
                          }
                        })
                        Kakao.Auth.logout();

                      }
                      function Kakaotest(){

                      }

                      function kakaotest() {
                        //alert("kakaotest");
                        /*Kakao.API.cleanup();
                        Kakao.API.request({
                              url: '/v1/user/logout',
                              success: function(res) {
                                alert(JSON.stringify(res));
                              },
                              fail: function(error) {
                                alert(JSON.stringify(error));
                              }
                        });*/
                        Kakao.API.request({
                              url: '/v1/user/access_token_info',
                              success: function(res) {
                                alert(JSON.stringify(res));
                              },
                              fail: function(error) {
                                alert(JSON.stringify(error));
                              }
                        });
                      }
                    //]]>
                  </script>  
          </li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container"></div>
      <h1 class="header center deep-orange-text hide-on-small-only">Try This</h1>
      <div class="row center">
        <h5 class="header col s12 light hide-on-small-only">스타트업을 꿈꾸는 모든 사람을 위한 아이디어 공유, 사업화, 인맥 및 프로젝트 관리용 오픈 플렛폼</h5>
        <h6 class="header col s12 light hide-on-med-and-up">스타트업을 꿈꾸는 모든 사람을 위한 아이디어 공유, 사업화, 인맥 및 프로젝트 관리용 오픈 플렛폼</h6>
        <!----% console.log(userid); %-->
        <% if(typeof userid!=="undefined"){ %>
          <h6><%= username %>님 환영합니다.<br> (<%= email %>, TT# <%= sequence_id %>)</h6>
          <% if(!usersigned){ %>
            <h6> 아직 TryThis 회원가입 전이시네요~ 회원가입 후 이벤트와 혜택 받아가세요 </h6>
          <% } %>
        <% }else{ %>
          <h6> 로그인 하시면 더 다양한 이벤트와 혜택이 있습니다. </h6>
        <% } %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section.no-pad">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s5 m3">
            <div class="icon-block">
                <h5 class="center">Quick Link</h5>
                <div class="divider"></div>
              <!--쿠팡-->
              <br>
              <div>나만의 쿠팡 Link</div>
              <iframe id="coupangLinkTest" width="100%" height="40" frameborder="0" scrolling="no"></iframe>
              <div id="coupangmemo">나만의 쿠팡 Link로 접속하고 포인트 적립 받으세요!</div>
              <p></p><a href="https://coupa.ng/bhvzPT">쿠팡</a></p>
              <a href="https://coupa.ng/bhvzPT" target="_blank"><img src="https://static.coupangcdn.com/image/affiliate/category/20180610/coupang1108-120-x-60.jpg" alt=""></a>
              <!--iframe src="https://ads-partners.coupang.com/iframe/search-bar?id=19070315074711104211008967-l2&type=l2&trackingCode=AF2009533" width="90%" height="44" frameborder="0" scrolling="no"></iframe-->
              <!--iframe id="coupangLink" width="100%" height="40" frameborder="0" scrolling="no"></iframe-->
              

              <!--구글 검색창-->
              <p>
              <form method=get action="http://www.google.co.kr/search" target="_blank" >   
              Google 검색<input type=text name=q size=10>
              </form>
              </p>
              <!--script async src="https://cse.google.com/cse.js?cx=018172071437808938261:x3mjnauxn1m"></script>
              <div class="gcse-search"></div-->

              <!--네이버검색창-->
              <p>
              <FORM name='form' method='get' action='https://search.naver.com/search.naver' target="_blank">
              네이버 검색<INpUT type='text' size=10 name=query>
              </FORM>
              </p>
            </div>
        </div>        
        
        <div class="col s7 m9">
          <div class="icon-block">
            <h5 class="center">Stories</h5>
            <div class="divider"></div>
                <div class="card small">
                    <div class="card-content overflow grey-text text-darken-2">
                      <span class="card-title">프로젝트를 시작하면서...</span>
                      <p>프로젝트의 목표는 첫줄에 명시되어 있습니다. 지금은 뼈대부터 쌓아 올려보고 있는 중입니다.
                          먼저 왼쪽구역은 검색창과 광고 등을 위한 공간으로, 회원분들의 시작페이지에서 필요한 기능을 넣을 생각입니다. (일단은)
                          보통 네이버, 구글 검색만 주로 하실텐데, 그렇다면 검색창만 하나 있어도 불편함은 없고, 다른 편리한 기능이 있다면 부디 이 페이지를 사용해 주십시오... 란 거죠 (물론 아직은 구상단계)
                          
                          <br><br>그렇다면 25년 전으로 돌아간 듯한 이 허름한 페이지는 뭐냐.. 하면, 그냥 텍스터 에디터로 HTML 로 편집하고 스타일 같은 것도 전혀 안 써서 그렇습니다.
                          화려한 이미지에 지친 회원분들의 눈의 안식이 되고자... (부차적인 이유로, 전 전문 웹디자이너가 아니고, 예쁘게 꾸미는 거에는 소질이 없으며, 귀차니즘이 심각하기 때문에...)
                          구체적으로 어떤 언어 기반으로 작성할지, 어떤 DB를 사용할지, 정할 때 까진 이렇게 써 나갈 생각입니다.
                          
                          <br><br>이 초라한 모습에서 하루하루 어떻게 변천되어 가는지 보시는 것도 하나의 즐거움으로 가져가 주셨으면 하는 바람입니다. 건설로 치자면 지금은 땅파는 단계지요. 보통은 이런 상태에서는 공개를 안하지만, 저는 공개하고자 합니다.
                          
                          <br><br>왜냐하면, 이 상태에서도 첫번째 프로젝트는 트라이 가능하기 때문입니다.
                          트라이 가능하면 합니다. 그게 Try This 프로젝트의 핵심 가치니까요.</p>
                      </div>
                </div>

                <div class="card small">
                    <div class="card-content overflow grey-text text-darken-2">
                      <span class="card-title">PRJ #1 쿠팡 페이백</span>
                      <p>쇼핑 좀 해보셨다 하는 분이시라면 이베이츠 란 사이트를 아실텐데요. 바로 어제, 조사 중에 쿠팡파트너스를 알게 되었습니다.
                          현재 쿠팡은 이베이츠와는 협약을 안 맺고 있고, 독립적으로 쿠팡파트너스를 운영하고 있죠. 이베이츠 보다는 개인 블로거들의 힘을 믿는 전략인가 합니다.
                          쿠팡의 전략은 역시 타사와는 차별화가 되는 듯... 여기서도 "홀로서기" 를 시도하는 모습이 보이는 군요.
                          <br><br>여기서 페이백의 개념은 광고 대행자의 사이트를 경유한 고객이 구매를 하는 경우, 구매 금액의 일정 부분을 광고 대행자에게 수수료(이걸 리워드라고 하겠습니다.) 지급해 주고, 이걸 광고 대행자가 다시 구매자에게 일부를 돌려주는 겁니다.
                          판매 사이트(쿠팡 등)이 구매자에게 바로 제공해 주는 건 할인이나 포인트 적립이죠.
                          <br><br>페이백은 일종의 다단계 입니다. 돈은 구매자가 쓰고, 그 돈의 일부를 광고 대행자에게 광고 수수료로 주는 건데, 페이백은 이 수수료의 일부를 다시 고객에게 돌려주는 겁니다. 고객 유치 차원에서 말이죠.
                          결국은 내 돈인데 돌아돌아 내게 일부만 돌아오고, 그걸 위해 번거로운 과정을 거쳐야 한다는 게 참 모순적입니다만, 시스템이란 게 일괄적으로 적용되는 거다 보니 어쩔 수 없지요.
                          <br><br>정확한 시스템은 알 수 없지만, 네이버 쇼핑에서 나오는 최저가 링크를 타고 들어가면, 자동으로 제휴쿠폰이 발행되면서 해당 사이트에서 직접 검색한 가격보다 저렴해 지는 것도 유사 개념이 들어가 있을 겁니다. 이 경우는 바로 할인이니 더 깔끔하지만.. 여튼 이 경우는 네이버가 광고 대행자 이지요.
                          대부분의 쿠팡파트너스 운영자들은 제품 홍보성 글을 작성하고, 링크를 연결함으로써 리워드를 받는 것으로 보이고 (구매금액의 3% 입니다.)
                          이베이츠는 사이트 홍보, 쿠폰이나 할인코드 정보를 제공하면서, 리워드 받는 금액 중 일부를 다시 고객에게 페이백 합니다. 이게 이베이츠가 광고하는 적립율 1.5% 3% 이런 숫자로 나타나는 거지요.
                          <br><br>자, 여기서 프로젝트 아이디어 입니다.
                          "쿠팡 한정의 이베이츠 역할을 하자." 였습니다만... 이게 쿠팡 파트너스 약관에 금지되어 있더군요.. 몰랐는데 말이죠..
                          이렇게 해서 최초의 아이디어는 활용 불가능하게 되었고...
                          단순한 홍보글이 아닌 방식으로, 어떻게 신규 회원을 확보할 것인가... 새로운 고민거리가 생겼습니다.
                          구체적인 전략이 수립될 때 까지 보류 입니다.
                          그럼 조금 더 사이트 건설이 진행되고, 새로운 전략이 수립되면 업데이트 하겠습니다.
                          링크는 살아 있으니, 도움 주실 분들은 예전 처럼 그냥 이용하시면 됩니다.
                          감사합니다.</p>
                    </div>
                </div>
          </div>
        </div>

      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer teal darken-1">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="deep-orange-text text-lighten-3" href="mailto:trythiscokr@gmail.com">TryThis.co.kr</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  

  <script>
      url = "https://ads-partners.coupang.com/iframe/search-bar?id=19070315074711104211008967-f2&type=f2&trackingCode=AF2009533";
      $("#coupangLink").attr('src',url);
  </script>
  <% if(typeof sequence_id!=="undefined"){ %>
  <script>
    url = "https://ads-partners.coupang.com/iframe/search-bar?id=19070315074711104211" + <%= sequence_id %> + "-f2&type=f2&trackingCode=AF2009533&subId=" + <%= sequence_id %>;
    $("#coupangLinkTest").attr('src',url);
  </script>
  <% } %>
  
  <% if(typeof sequence_id=="undefined"){ %>
    <script>
      text = "먼저 로그인해주세요. 포인트 적립은 나만의 쿠팡 Link로 접속시에만 가능합니다."
      $("#coupangmemo").text(text);
    </script>
    <% } %>

  </body>
</html>
